body {

  background: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  background-repeat: no-repeat, no-repeat;
  background-color: var(--background-color);
  font-family: 'Kumbh Sans', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 700;
}

.profile-card {
  width: 350px;
  background: url(../images/bg-pattern-card.svg) top center no-repeat;
  background-color: white;
  border-radius: 10px;
}

.profile-avatar .avatar {
  margin-top: 90px;
  border: 5px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.name-age {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.name-age .age {
  margin: 0 15px;
}

.profile-card .name-age h2.age {
  font-weight: 100;
  color: var(--text-color);
}

.country {
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 18px;
  color: var(--text-color);
}

.profile-card .social {
  margin: 15px 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile-card .social .frontendmentor {
  padding: 1px;
  border: 1.5px solid hsl(185, 75%, 39%);
  border-radius: 50%;
}

.profile-card hr {
  height: 1px;
  background-color: var(--text-color);
  border: none;
}

.profile-card .data {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.profile-card .data .info {
  color: var(--text-color);
  font-weight: 100;
  font-size: 10px;
  letter-spacing: 2px;
}

.profile-card .data p.detail,
.profile-avatar {
  display: flex;
  justify-content: center;
}

@media(max-width:360px) {
  .profile-card {
    width: 300px;
  }
}